:root {
    --color-amarelo: #ffcc00;
    --color-azul: #020072;

    --txt-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #888888;
}

.back-start{
    background: url('../img/PERFIL.png');
}
.back-attention{
    background: url('../img/back-atencao.png');
}
.back{
    background: url('../img/background.png');
}

.mobile {
    position: absolute;

    width: 400px;
    height: 700px;

    background: #fff;
    overflow: hidden;
}

.content-mobile{
    position: relative;
    width: 100%;
    height: 100%;
}

.button-play{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-amarelo);
    border-radius: 15px;
}

.button-play a, .button-start a, .button-finish input, .button-continue a{
    color: white;
    font-size: 27px;
    font-weight: 900;
    text-shadow: var(--txt-shadow);
    background: none;
    border: none;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-amarelo);
    text-align: center;
    text-shadow: var(--txt-shadow);
}
.footer a{
    color: var(--color-azul);
}

/* ATENÇAO PAGE */

.button-start{
    position: relative;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-amarelo);
    border-radius: 15px;
}

/*  */

.category-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #c6c6c6;
}
.category-area h1 {
    font-size: 25px;
    margin: 0 5px;
    text-shadow: var(--txt-shadow);
}
.category-area h1:first-child{
    background-color: #b1b1b1;
}

.enigma-area{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.enigma-area h1{
    background-color: var(--color-amarelo);
    text-shadow: var(--txt-shadow);
}

.dica-area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}
.dica-item{
    width: 60px;
    height: 60px;
    margin: 0 15px 30px 20px;
    background-color: #020072;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
.dica-item:hover{
    cursor: pointer;
}

.button-finish{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 70%;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-azul);
    border-radius: 15px;
    margin-top: 30px;
}

/*  */

.tip-area{
    position: absolute;
    top: 30%;
    width: 95%;
    text-align: center;
}

.buttons-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-around;
    width: 40%;
}
.button-check input, .button-error{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}
.button-check input{
    background-color: green;
    font-size: 25px;
    font-weight: 700;
}
.button-error {
    background-color: red;
}

/*  */

.mensage {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.button-continue {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);

    width: 70%;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-amarelo);
    border-radius: 15px;
    margin-top: 30px;
}

.red-error{
    background-color: red !important;
}